<template>
    <TheHeader />
    <div id="bumper" class="h-32"> </div>
    <div v-if="artist_albums !== null" class="flex flex-col items-center">
        <div class="flex w-full justify-start px-10 items-center">
            <div @click="$router.push('/')" class="flex items-center py-4 px-6 rounded-lg hover:bg-black hover:opacity-25 hover:cursor-pointer">
                <img src="../../assets/images/arrow-left.svg" alt="" class="invert mr-4" width="40">
                <p class="font-kumbh text-white">RETURN TO HOME</p>
            </div>
        </div>
        <h3 class="text-[40px] text-white font-light font-kumbh flex items-center justify-center my-10">ALL <span class="mx-6 font-bold text-[50px]">{{ artist_albums?.items[0].artists[0].name }}</span> ALBUMS</h3>
        <template v-for="album of artist_albums?.items">
            <Album :album="album"/>
        </template>
    </div>
    <div v-else class="w-[full] text-center text-white flex flex-col items-center font-kumbh">
        <div class="flex w-full justify-start px-10 items-center">
            <div @click="$router.push('/')" class="flex items-center py-4 px-6 rounded-lg hover:bg-black hover:opacity-25 hover:cursor-pointer">
                <img src="../../assets/images/arrow-left.svg" alt="" class="invert mr-4" width="40">
                <p class="font-kumbh text-white">RETURN TO HOME</p>
            </div>
        </div>
        <h1 class="w-[500px] text-[80px] font-bold my-[150px]">
            THIS ARTIST DOESN'T EXIST
        </h1>
    </div>
    <TheFooter />
</template>

<script setup lang="ts">

//import
import { RouteLocationNormalizedLoaded } from '.nuxt/vue-router';
import { Albums } from 'assets/interfaces/api.interface';
import { MyState, MyActions } from 'assets/interfaces/store.interface';
import { Store } from 'pinia';

//définition du store et de l'objet route
const route: RouteLocationNormalizedLoaded = useRoute();
const store: Store<"main", MyState, {}, MyActions> = useMyStore();

//récupération de l'artist_id dans les paramètres de la route
const artist_id: string | string[] = route.params.id;

//requête pour récupérer tout les albums de l'artiste (hors Mixtape, Singles, EP)
const { data: artist_albums } = await useFetch<Albums>(`https://api.spotify.com/v1/artists/${artist_id}/albums?include_groups=album`, 
    { 
        method: 'GET', headers: { 
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${store.spotify_api_access_token!}`
        } 
    }
)

</script>