<template>
  <NuxtLayout>
    <NuxtPage />
  </NuxtLayout>
</template>

<style>

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
body{ background-color: #181818 };

</style>