<template>
    <div class="w-[800px] rounded-2xl bg-my-gray-2 flex flex-col items-center mb-6 shadow-none overflow-hidden">
        <div class="flex w-full mt-7">
            <div class="w-[120px] h-[120px] overflow-hidden ml-10">
                <img :src="props.album.images[0].url" alt="" width="120" class="rounded-md">
            </div>
            <div class="ml-10 w-[600px] flex flex-col font-kumbh text-white">
                <h3 class="text-2xl font-bold">{{ props.album.name }}</h3>
                <p class="grow mt-1">{{ props.album.release_date.substring(0, 4) }}</p>
                <h6><span class="font-bold">{{ props.album.total_tracks }}</span> TRACKS</h6>
            </div>
        </div>
        <div v-if="!isExtended" @click="isExtended = !isExtended" class="w-full mt-7 bg-black opacity-50 hover:opacity-30 hover:cursor-pointer flex py-3 justify-center items-center">
            <p  class="font-kumbh text-white">Show tracks details, sorted by popularity</p>
        </div>
        <div v-else class="mt-6 w-full px-2 pb-1 flex flex-col items-center">
            <div class="flex w-full bg-my-gray-1 mb-[1px] text-white font-kumbh py-3 rounded-md">
                <h6 class="mx-10">#id</h6>
                <p class="ml-12 grow">Track Name</p>
                <span class="mr-10">Duration</span>
            </div>
            <div v-for="track of state.tracks" class="flex w-full bg-my-gray-1 mb-[1px] text-white font-kumbh py-3 rounded-md">
                <h6 class="w-[100px] items-center flex justify-center">{{ track.track_number }}</h6>
                <div class="w-[30px] h-[30px]">
                    <img :src="track.album.images[0].url" alt="" width="30">
                </div>
                <p class="ml-6 grow">{{ track.name }}</p>
                <span class="mr-10">{{ convertMSintoMINSEC(track.duration_ms) }}</span>
            </div>
        </div>
        <div v-if="isExtended" @click="isExtended = false" class="w-full flex py-1 justify-center bg-black opacity-50 hover:opacity-30 hover:cursor-pointer">
            <img src="../assets/images/arrow-down.svg" alt="" class="rotate-180 invert" width="40">
        </div>
    </div>
</template>

<script setup lang="ts">

//import
import { AlbumTracksResponse, AlbumsItems, SearchArtistResponse, SeveralTracks, Track } from 'assets/interfaces/api.interface';
import { MyState, MyActions } from 'assets/interfaces/store.interface';
import { Store } from 'pinia';

//définition du store et des props
const store: Store<"main", MyState, {}, MyActions> = useMyStore();
const props = defineProps<{
        album: AlbumsItems
}>();

//définition des variables
const isExtended: Ref<boolean> = ref(false);
const isLoaded: Ref<boolean> = ref(false);
let tracks: Array<Track> | undefined; 

//définition du state
const state = reactive({
    tracks
})

//fonction permettant de convertir des ms au format 'mm:ss'
function convertMSintoMINSEC(number_of_ms: number): string{
    let number_of_minutes: string = (number_of_ms/60000).toFixed(0);
    let number_of_seconds: string = ((number_of_ms % 60000) / 1000).toFixed(0);

    const numbers: Array<string> = [
    '00',
    '01',
    '02',
    '03',
    '04',
    '05',
    '06',
    '07',
    '08',
    '09',
    '10',
    '11',
    '12',
    '13',
    '14',
    '15',
    '16',
    '17',
    '18',
    '19',
    '20',
    '21',
    '22',
    '23',
    '24',
    '25',
    '26',
    '27',
    '28',
    '29',
    '30',
    '31',
    '32',
    '33',
    '34',
    '35',
    '36',
    '37',
    '38',
    '39',
    '40',
    '41',
    '42',
    '43',
    '44',
    '45',
    '46',
    '47',
    '48',
    '49',
    '50',
    '51',
    '52',
    '53',
    '54',
    '55',
    '56',
    '57',
    '58',
    '59',
    '00'
    ]

    let ajusted_number_of_seconds: string = numbers[parseInt(number_of_seconds)];

    return `${number_of_minutes}:${ajusted_number_of_seconds}`;
}

//watcher de la propriété 'isExtended' qui permet de fetch les différents morceaux d'un album (jusqu'à 100 morceaux)
watch(isExtended, async (newValue) => {

    //si on étend, et si c'est les morceaux n'ont pas déjà été chargés
    if((newValue === true) && (isLoaded.value === false)){

        //requête permetant de récupérer tous (les 50 premiers sinon) les morceaux d'un album
        const { data: response } = await useFetch<AlbumTracksResponse>(`https://api.spotify.com/v1/albums/${props.album.id}/tracks?limit=50`, 
            { 
                method: 'GET', headers: { 
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${store.spotify_api_access_token!}`
                } 
            }
        )

        //définition de quelques variables
        let get_several_tracks_URL: string = 'https://api.spotify.com/v1/tracks?ids=';
        let get_several_tracks_URL_potential: string | null = null;
        let indice: boolean = false;

        //construction de l'URL à fetch pour récupérer le détails de chaque morceaux, qui nous permet d'accéder à la clé 'popularity' et d'ainsi trier les morceaux par popularité
        for(let item of response.value?.items!){
            if(!indice){
                get_several_tracks_URL += `${item.id}`
                indice = true;
            } else {
                get_several_tracks_URL += `,${item.id}`
            }
        }

        //dans le cas où un album comporte plus de 50 morceaux on prépare une seconde requête
        if (response.value?.next !== null) {

            let get_several_tracks_URL_bis: string = 'https://api.spotify.com/v1/tracks?ids=';
            let indice_bis: boolean = false;

            const { data: aditional_response } = await useFetch<AlbumTracksResponse>(response.value?.next!, 
                { 
                    method: 'GET', headers: { 
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${store.spotify_api_access_token!}`
                    } 
                }
            )

            //construction du second URL
            for(let item of aditional_response.value?.items!){
                if(!indice_bis){
                    get_several_tracks_URL_bis += `${item.id}`
                    indice_bis = true;
                } else {
                    get_several_tracks_URL_bis += `,${item.id}`
                }
            }
            
            get_several_tracks_URL_potential = get_several_tracks_URL_bis;
        }

        //récupération des données détaillés des tracks
        const { data: new_response } = await useFetch<SeveralTracks>(get_several_tracks_URL, 
            { 
                method: 'GET', headers: { 
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${store.spotify_api_access_token!}`
                } 
            }
        )

        state.tracks = new_response.value?.tracks;

        //dans le cas où il y a plus de 50 tracks, on les ajoute ici à notre state
        if (get_several_tracks_URL_potential !== null){
            const { data: other_response } = await useFetch<SeveralTracks>(get_several_tracks_URL_potential, 
                { 
                    method: 'GET', headers: { 
                        'Content-Type': 'application/json',
                        'Authorization': `Bearer ${store.spotify_api_access_token!}`
                    } 
                }
            )

            for(let track of other_response.value?.tracks!) {
                state.tracks!.push(track);
            }
        }

        //enfin on tri par popularité les morceaux
        state.tracks!.sort((a, b) => {
           return b.popularity - a.popularity;
        });

        //on stocke le fait que les morceaux sont déjà chargés
        isLoaded.value = true;
    }
})

</script>