<template>
    <div @click="actualizeLastestArtists(); $router.push(`/artists/${props.artist.id}`)" class="w-full h-64 rounded-2xl bg-my-gray-2 flex flex-col items-center hover:scale-105 hover:opacity-70 hover:cursor-pointer transition-all duration-200 ease-in-out">
        <div class="w-[140px] h-[140px] rounded-full flex items-center justify-center mt-8 overflow-hidden">
            <img v-if="props.artist.images.length > 0" :src="props.artist.images[0].url" alt="" height="140" class="rounded-full flex items-center">
            <img v-else src="../assets/images/camera.svg" alt="" width="140" class="rounded-full flex items-center">
        </div>
        <div class="flex justify-center grow">
            <span class="font-kumbh text-white font-bold font-lg mt-8 text-center px-4">{{ props.artist.name }}</span>
        </div>
</div>
</template>

<script setup lang="ts">

//import
import { Items } from 'assets/interfaces/api.interface';
import { MyState, MyActions } from 'assets/interfaces/store.interface';
import { CookieRef } from 'nuxt/app';
import { Store } from 'pinia';

//définition du store et des props
const store: Store<"main", MyState, {}, MyActions> = useMyStore();
const props = defineProps<{
        artist: Items
}>();

//fonction permettant d'actualiser les 5 derniers artistes recherchés, autant dans le store que dans le cookie
function actualizeLastestArtists(): void {
    const oldValue: CookieRef<string | undefined | null> = useCookie('artists');
    let newValue: string;

    if (oldValue.value === undefined || oldValue.value === null) {
        newValue = props.artist.id;
    } else {
        let ids: Array<string> = oldValue.value.split(',');
        
        if (ids.includes(props.artist.id)) {
            ids.splice(ids.indexOf(props.artist.id), 1);
            newValue = ids.join(',') + ',' + props.artist.id;
        } else if (ids.length < 5) {
            newValue = oldValue.value + ',' + props.artist.id;
        } else {
            let oldArtist = ids.shift();
            newValue = ids.join(',') + ',' + props.artist.id;
        }
    }

    store.fetchLatestArtists(newValue);
    oldValue.value = newValue;
}

</script>