<template>
    <div class="bg-my-gray-1 text-white text-lg w-full h-28 flex items-center justify-center mt-10">
        <p>Developped By<span class="ml-1 font-bold">Nathan VIAL</span></p>
    </div>
</template>