<template>
    <div class="w-full h-28 z-50 opacity-90 backdrop-blur-3xl bg-my-gray-1 flex items-center font-kumbh text-xl text-white fixed">
        <h2 class="ml-20 grow">Antidot Developper Test - Spotify Project</h2>
        <p class="mr-20 flex">Using the<img src="../assets/images/logo-spotify.png" alt="" width="100" class="mx-4">API</p>
    </div>
</template>