<template>
    <TheHeader />
    <div class="flex flex-col items-center">
        <div id="bumper" class="h-40"></div>
        <h3 class="text-[40px] text-white font-bold font-kumbh flex justify-center my-8">FIND YOUR FAVORITE ARTISTS</h3>
        <div class="flex items-center">
            <input @keypress="verifyChar($event)" spellcheck="false" type="text" class="border-2 font-bold tracking-widest focus:border-my-green-1 focus:border- focus:outline-none border-white rounded-full text-white px-8 py-5 w-[400px] bg-transparent placeholder:text-white placeholder:font-medium placeholder:font-kumbh placeholder:text-md placeholder:opacity-60" placeholder="Find an artist..." v-model="inputValue">
        </div>
        <div class="my-14 w-[1000px] h-[600px] bg-my-gray-1 grid grid-cols-4 gap-4 p-4 overflow-y-auto my-scrollbar">
            <div v-if="state.artists" v-for="artist of state.artists">
                <Artist :artist="artist" />
            </div>
        </div>
        <h3 class="text-[40px] text-white font-bold font-kumbh flex justify-center my-8">YOUR LATEST SEARCHES</h3>
        <div v-if="(store.latest_artists !== undefined) && (store.latest_artists.length > 0)" class="w-[1100px] p-6 bg-my-gray-1 gap-4 grid grid-cols-5">
            <div v-for="artist of store.latest_artists">
                <Artist :artist="artist" />
            </div>
        </div>
        <div v-else class="w-[1000px] h-64 bg-my-gray-1 flex items-center justify-center">
            <p class="font-kumbh text-white text-lg">Please use the artist search bar above, then find your recent searches here.</p>
        </div>
    </div>
    <TheFooter />
</template>

<script setup lang="ts">

//import
import { Store } from 'pinia';
import { Items, SearchArtistResponse } from '../assets/interfaces/api.interface'
import { MyActions, MyState } from 'assets/interfaces/store.interface';
import { useMyStore } from '../composables/store';

//utilisation du store
const store: Store<"main", MyState, {}, MyActions> = useMyStore();

//définition des variables
const inputValue: Ref<string> = ref('');
const isInputVoid: ComputedRef<boolean> = computed(() => {
    return (inputValue.value === '');
})
let artists: Array<Items> | undefined;

//définition du state
const state = reactive({
    artists
})

//watcher qui exécute la fonction de fetching à chaque modification de la valeur de l'input
watch(inputValue, () => {
    fetchArtist();
})

//définition de la fonction permetant de chercher les artistes qui correspondent le plus avec l'input utilisateur
async function fetchArtist(): Promise<void> {

    //on ne fait pas de requête si l'input est vide
    if (isInputVoid) {

        //requête à l'API
        const { data: response } = await useFetch<SearchArtistResponse>(`https://api.spotify.com/v1/search?q=${inputValue.value}&type=artist&limit=32`, 
            { method: 'GET', headers: { 
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${store.spotify_api_access_token!}`
            } }
        )

        //traitement réponse
        if (response.value === null) {
            state.artists = undefined;
        } else {
            state.artists = response.value.artists.items;
        }

    } else {
        state.artists = undefined;
    }
}

//fonction qui permet d'éviter que l'utilisateur ne rentre n'importe quoi dans la barre de recherche
function verifyChar(event: KeyboardEvent): void{

    const char: string = event.key;
    const chars: string = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789 ';
                     
    if(!chars.includes(char)) {
        event.preventDefault();
    }
                     
}

</script>

<style scoped>

.my-scrollbar::-webkit-scrollbar {
  width: 8px;
  width: 8px;
}
.my-scrollbar::-webkit-scrollbar-track {
  border-radius: 9px;
  background-color: #131313;
}

.my-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 9px;
  background-color: #282828;
}

</style>